.product-preview-card {
  &__title {
    font-style: bold;
    color: black;
  }

  &__description {
    font-style: oblique;
    font-family: fangsong;
    font-size: small;
    color: orange;
  }

  &__image {
    width: 7rem;
  }
}
