.page {
  // TODO: update height
  min-height: 100vh;

  div {
    text-indent: 50px;
  }

  p {
    text-indent: 10%;
  }

  body {
    color: blue;
  }

  
h1 {
  color: yellow;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 25px;
}

p {
  font-size: 25px;
}


}
